.idea/
.vscode/

private/
*.private*
private.lua

.DS_Store
*.lnk

.config/karabiner/automatic_backups
.config/lazygit/state.yml
espanso/match/packages/*
Library/Preferences/doublecmd/colors.json
Library/Preferences/doublecmd/extassoc.xml
Library/Preferences/doublecmd/history.xml
Library/Preferences/doublecmd/multiarc.ini
Library/Preferences/doublecmd/session.ini
Library/Preferences/doublecmd/tabs.xml
Library/Preferences/doublecmd/wfx.ini
mpv/cache/*
mpv/script-modules/*
mpv/scripts/*
mpv/watch_later/*
mpv/watch_history.jsonl
nvim/lazy-lock.json
nvim/lua/snippets/
nvim/spell/
nvim/undodir/
terminal/PowerShell/Modules/
terminal/PowerShell/Scripts/
terminal/WindowsTerminal/elevated-state.json
terminal/WindowsTerminal/state.json
