.idea/
.vscode/

private/
*.private*
private.lua

*.lnk

espanso/match/packages/*
nvim/plugin/
nvim/spell/
nvim/undodir/
vim/autoload/
vim/plugged/
terminal/PowerShell/Modules/
terminal/PowerShell/Scripts/
terminal/WindowsTerminal/state.json
