.idea/
.vscode/

private/
*.private*
private.lua

.DS_Store
*.lnk

.config/karabiner/automatic_backups
espanso/match/packages/*
Library/preferences/doublecmd/history.xml
Library/preferences/doublecmd/session.ini
Library/preferences/doublecmd/tabs.xml
mpv/cache/*
mpv/script-modules/*
mpv/scripts/*
mpv/watch_later/*
nvim/lazy-lock.json
nvim/lua/snippets/
nvim/spell/
nvim/undodir/
terminal/lazygit/state.yml
terminal/PowerShell/Modules/
terminal/PowerShell/Scripts/
terminal/WindowsTerminal/elevated-state.json
terminal/WindowsTerminal/state.json
